@using ViewModels.Catalog.Mangas
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var manga = (List<MangaViewModel>)ViewBag.mangadiscount;
}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Manga Discount</h3>
        <hr />
        <div class="listmn owl-carousel">
            @foreach (var item in manga)
            {
                <div class="item">
                    <div class="text-center">
                        <div class="product-entry">
                            <div class="product-img">
                                <a href="/truyen-tranh/@item.meta-@item.mangaId">
                                    <img src="@(Configuration["BaseAddress"] + "/user-content/" + item.LinkAnh)" alt="image" />
                                </a>
                                <p class="tag"><span class="sale">Sale</span></p>
                                <div class="cart">
                                    <p>

                                        <span class="addtocart">
                                            <a href="@Url.Action("AddItem", "Cart", new { magaId = item.mangaId })">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </span>
                                        <span><a href="/truyen-tranh/@item.meta-@item.mangaId"><i class="fas fa-eye"> </i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a asp-controller="Mangas" asp-action="MangaDetail">@item.Ten</a></h3>
                                <div class="p-view">
                                    @if (item.Gia < item.Giagoc)
                                    {<a class="price" asp-controller="Mangas" asp-action="MangaDetail">
                                            <span class="real-price" style="text-decoration:line-through;color:gray;font-size:small;padding-right:5px;">
                                                @item.Giagoc.ToString("#,##0").Replace(',', '.')<span class="cur" style="text-decoration:line-through;color:gray;font-size:small;">₫</span>
                                            </span>
                                        </a>
                                    }
                                    <a class="price" asp-controller="Mangas" asp-action="MangaDetail">
                                        <span>@item.Gia.ToString("#,##0").Replace(',', '.')<span class="cur">₫</span></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>