@*@using Microsoft.AspNetCore.Identity
    @using Data.Entities

    @inject UserManager<AppUser> UserManager
    @inject SignInManager<AppUser> SignInManager*@
@using ViewModels.System.Users
@model UserViewModel

@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/images/himouto-umaru-chan.jpg" />
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h4>
                        @User.Identity.Name
                    </h4>
                    <br />
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin cá nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Địa chỉ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Chỉnh sửa" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <hr />
                <div class="profile-work">

                    <a href=""><i class="fas fa-user"></i> Thông tin tài khoản</a><br />
                    <a href=""><i class="fas fa-clipboard-list"></i> Quản lí đơn hàng</a><br />
                    <a href=""><i class="fas fa-bell"></i> Thông báo</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        @*<div class="row">
                            <div class="col-md-4">
                                <label>Id</label>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Id)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>User Name</label>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.UserName)
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-4">
                                <label>Tên</label>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.FullName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Email</label>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Sô điện thoại</label>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Giới tính</label>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.GioiTinh)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Ngày sinh</label>
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Dob)
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            @*<div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>*@
                        </div>
                        <div class="row">
                            @*<div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p>10$/hr</p>
                            </div>*@
                        </div>
                        <div class="row">
                            @*<div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <p>230</p>
                            </div>*@
                        </div>
                        <div class="row">
                            @*<div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>*@
                        </div>
                        <div class="row">
                            @*<div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 months</p>
                            </div>*@
                        </div>
                        <div class="row">
                            @*<div class="col-md-12">
                                <label>Your Bio</label><br />
                                <p>Your detail description</p>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>