@model List<ViewModels.Shipment.PriceAndDestinationVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách khu vực vận chuyển</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách khu vực vận chuyển</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                </div>
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success float-right" asp-action="Create" asp-controller="PriceAndDestination">Tạo mới</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            @*<th>
                                ProvinceId
                            </th>*@
                            <th>
                                Tỉnh Thành
                            </th>
                            @*<th>
                                DistrictId
                            </th>*@
                            <th>
                                Quận Huyện
                            </th>
                            @*<th>
                                WardId
                            </th>*@
                            <th>
                                Xã Phường
                            </th>
                           
                            <th>
                                Giá
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                @*<td id="ProvinceId">
                                    @Html.DisplayFor(modelItem => item.ProvinceId)
                                </td>*@
                                <td id="province">
                                    @Html.DisplayFor(modelItem => item.ProvinceName)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.DistrictId)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.DistrictName)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.WardId)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.WardName)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShippingPrice)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                                    @*@Html.ActionLink("Details", "Details", new {  id=item.PrimaryKey  }) |*@
                                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>